
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2>Current Time</h2>
	</div>
	<div class="panel-body">
	
	</div>
		<div class="row">
		<div class="col-sm-4">
			Hired Date
		</div>
		<div class="col-sm-7">
			{{time | date:'yyyy/MM/dd hh:mm a'}}
		</div>
	</div>
	</div>
</div>