
<!DOCTYPE html>
<html>
<head>
	<title>Date Format filter</title>
	<script
 		src="https://code.jquery.com/jquery-3.3.1.js"
  		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  		crossorigin="anonymous"></script>
  	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" crossorigin="anonymous" ></script>
  	<script type="text/javascript" src="datedisplay1.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="dateController">
		<form class="form-inline">
			<div class="form-group">
				
				<label>Hiredate</label>
				<input type="text" class="form-control"  ng-model="time"/>
				<button ng-click="setTime()" class="btn btn-primary">Current Date</button>
			
			</div>
		</form>
				<div ng-show="hidetemplate">
					<div  date-directive class="col-md-4"></div>
				</div>	
	</div>

</body>
</html>